.App {
  text-align: center;
  font-family: 'Open Sans Condensed', Arial;
}

.home {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 50px;
}

.link, button {
	box-shadow: inset 0px 39px 0px -24px #739be6;
	background-color:	#7ea8f8;
	border-radius: 5px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 15px;
	text-decoration: none;
}

.link:hover, button:hover {
	background-color:#739be6;
}

.link:active, button:active {
	position: relative;
	top: 1px;
}

table {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
}

table th {
  background-color: rgb(255, 216, 109);
  text-align: left;
}

table td, table th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

.header {
  background-color: rgb(197, 193, 193);
	font-size: 20px;
  font-weight: bold;
  text-align: left;
}



form {
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  font-weight: bold;
  font-size: 1em;
}

form input[type="text"], form textarea {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	height: 45px;
}

